<%- include("./partials/header.ejs") -%>

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-light">
        <img src="assets/edit_note_48dp_FILL0_wght400_GRAD0_opsz48.png" alt="Blog-Book" width="40" height="40">
        <span class="fs-4 mx-2">Blog-Book</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="btn btn-outline-light" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/login" class="btn btn-light mx-3" aria-current="page">Login</a></li>
        <li class="nav-item"><a href="/register" class="btn btn-light" aria-current="page">Register</a></li>
      </ul>
    </header>
  </div>



<%- include("./partials/footer.ejs") -%>